[Unit]
Description=Stereo I2S MEMS mic capture (SEN0526) - continuous
After=multi-user.target sound.target

[Service]
Type=simple
WorkingDirectory=/home/pi/pi-zero2-sen0526-stereo
Environment=CARD=0
Environment=DEV=0
ExecStart=/bin/bash -lc './scripts/record_stereo.sh 3600'
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
